* {
    margin = 0;
    padding = 0; }

header {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),#a685e2),url(../badminton.jpg);
    height: 100vh;
    background-size:cover;
    background position: center;
}
.logo img {
    position:absolute;
    top: 5% ;
    left:0% ;
    float:left;
    width:120px;
    height:70px; 
}

nav {
    flex: 1;
    text-align: right;
    
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    transition: all 0.5s ease-in;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    padding: 0px 0px;
    /*border: 1px solid #fff;*/
    
}
nav ul li a:hover{
    background-color: #fff;
    color:black;
    
}

ul li.active {
    background-color:#800
}
ul li a:hover{
    background-color: #800;
    
    

}

body {
    color: white
}

.content {
   width: 60% ;
   margin : 160px auto 0 ;
   text-align :center ;
   color : #fff
    
}
.nav-bar {
    display : flex ;
    padding :40px 120px ;
}	
.banner-title {
    /*margin : 80px 100px ;*/
    color : whitesmoke ;
    text-align: center;
}
.banner-title h1 { 
    font-size : 30px;
   /* margin-bottom :30px ;*/
    
}
.banner-title h1 span {
    color : #a685e2
}
.banner-btn {
    margin:70px auto 0 ;
    align-items: center
}
.banner-btn a{
    width: 150px ;
    text-decoration: none ;
    display : inline-block ;
    margin : 0 10px ;
    padding : 12px 0 ;
    color : #fff ;
    border : .5px solid #a685e2 ;
    text-align: center ;
    
}
.banner-btn a:hover {
    background-color: #ffc6ff ;
    transition: all 0.5s ease-in;
}
#CCA
{
    width: 100% ;
    padding: 70px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../123.jpg);
    height: 90vh;
    background-size:cover;
    background position: center;
}


.today {
    width: 100% ;
    margin:auto ;
    display:flex ;
    flex-wrap: wrap ;
    align-items: center ;
    text-align: center;
    column-count: 2
}

.container span {
    color : #a685e2 ;
    font-size: 20 ;
}
.today span {
   color : #a685e2 ;
    font-size: 20 ;
}
#ECA {
    width: 100% ;
    padding: 70px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../124.jpg);
    height: 100%;
    background-size:cover;
    background position: center;
}

.new {
    text-align: left ;
}

.topA1 a{
    color : #fff ;
    font-size: 20 ;
	position:absolute;top:1350px;
}
.topA a{
    color : #fff ;
    font-size: 20 ;
	}


/*@media only screen and (max-width: 800px){
    .logo img {
    width: 150px;
    height:100px;
    position: 0px;
    }
    
    nav {
        display: none
    }
    banner-title {
    
    color : whitesmoke ;
    text-align: center;
}*/
